*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}




body{
  height: 100%;
  background-color: skyblue;
}



#container{
  
  
  height: 100%;
  
  
  
}



#canvas{
  
  width: 94vw;
  height: 60vh;
  border: 0.09em solid black;
  
  
  
  position: absolute;
  top: 0.5em;
  right: 0;
  left: 0;
  
  margin: auto;
  
}

#canvas, #setas, #circulos{
  background-color: white;
}



#setas{
  
  
  width: 45vw;
  
  height: 23vh;
  
  border: 0.09em solid black;
  
  position: absolute;
  
  bottom: 1.7em;
  
  left: 0.8em;
  
  
  
}

div #cima, #baixo, #esquerda, #direita{
  width: 3em;
  height: 3em;
  border: 0.09em solid black;
}

#cima {
  
  position: absolute;
  
  top: 0.5em;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 1.5em 1.5em 0.0em 0.0em;
}

#baixo {
  
  position: absolute;
  bottom: 0.5em;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 0.0em 0.0em 1.5em 1.5em;
  
}

#esquerda {
  
  position: absolute;
  left: 0.5em;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 1.5em 0.0em 0.0em 1.5em;
  
  
}

#direita{
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5em;
  
  margin: auto;
  border-radius: 0.0em 1.5em 1.5em 0.0em;
}

.dir{
  user-select: none;
  background-color: gray;
  
  
}



#circulos{
  width: 45vw;
  
  height: 23vh;
  
  border: 0.09em solid black;
  
  position: absolute;
  
  bottom: 1.7em;
  
  right: 0.8em;
  
  
  
}

.cir{
  
  width: 3em;
  
  height: 3em;
  
  border: 0.09em solid black;
  
  border-radius: 2em;
  
  position: absolute;
  
  background-color: gray;
  user-select: none;
}





#c1{
  top: 0.5em;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  text-align: center;
}

#c2{
  top: 0;
  right: 0.5em;
  bottom: 0;
  margin: auto;
  position: absolute;
}

#c3{
  bottom: 0.5em;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

#c4{
  top: 0;
  bottom: 0;
  left: 0.5em;
  margin: auto;
  position: absolute;
}

#tri{
  
  width: 0;
  height: 0;
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  border-bottom: 1.5em solid green;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  
  
}


#qua{
  width: 0;
  height: 0;
  border: 0.9em solid pink;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 0.9em;
  
}

#circ{
  width: 1.75em;
  height: 1.75em;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#x{
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: blue;
  font-weight: bold;
  

}

@media (max-width: 600px){

  div #cima, #baixo, #esquerda, #direita{
    width: 2.5em;
    height: 2.5em;
    border: 0.09em solid black;
  }

  #cima {
  
    top: 1.5em;
    
  }
  
  #baixo {
    
    
    bottom: 1.5em;
    
    
  }
  
  #esquerda {
    
    
    left: 1.2em;
  
    
    
  }
  
  #direita{
    
    
    right: 1.2em;
    
    
  }


  .cir{
  
    width: 3em;
    
    height: 3em;
    
    
  }

  #tri{
  
    
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 1em solid green;
    
    
    
  }
  
  
  #qua{
    
    border: 0.9em solid pink;
    
    font-size: 0.6em;
    
  }
  
  #circ{
    width: 1.2em;
    height: 1.2em;
  
  }
  
  #x{
    
    
    font-size: 2em;
    
    
  }

  #c1{
    top: 1.5em;
    
  }
  
  #c2{
    
    right: 1em;
    
  }
  
  #c3{
    bottom: 1.5em;
 
  }
  
  #c4{
    
    left: 1em;
    
  }

  #canvas{
  
   
    height: 70vh;
    width: 92vw;
  }

  #setas{

    bottom: 1.2em;
    width: 43vw;

    left: 0.99em;
  }

  #circulos{
    width: 43vw;
    bottom: 1.2em;
    right: 0.99em;
  }
}