*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}


@media(max-width:600px){

body{
  height: 100%;
}



#container{
  
  
  height: 100%;
  
  
}



#canvas{
  
  width: 25em;
  height: 32em;
  border: 0.09em solid black;
  
  
  
  position: absolute;
  top: 0.5em;
  right: 0;
  left: 0;
  
  margin: auto;
  
  
}



#setas{
  
  
  width: 12.5em;
  
  height: 12.5em;
  
  border: 0.09em solid black;
  
  position: absolute;
  
  bottom: 1.7em;
  
  left: 0.4em;
  
}

div #cima, #baixo, #esquerda, #direita{
  width: 3.5em;
  height: 3.5em;
  border: 0.09em solid black;
}

#cima {
  
  position: absolute;
  
  top: 0.5em;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 1.5em 1.5em 0.0em 0.0em;
}

#baixo {
  
  position: absolute;
  bottom: 0.5em;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 0.0em 0.0em 1.5em 1.5em;
  
}

#esquerda {
  
  position: absolute;
  left: 0.5em;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 1.5em 0.0em 0.0em 1.5em;
  
  
}

#direita{
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5em;
  
  margin: auto;
  border-radius: 0.0em 1.5em 1.5em 0.0em;
}

.dir{
  user-select: none;
  background-color: gray;
  
  
}

.dir:active{
  
  background-color: black;
}

#circulos{
  width: 12.5em;
  
  height: 12.5em;
  
  border: 0.09em solid black;
  
  position: absolute;
  
  bottom: 1.7em;
  
  right: 0.4em;
  
}

.cir{
  
  width: 3.5em;
  
  height: 3.5em;
  
  border: 0.09em solid black;
  
  border-radius: 2em;
  
  position: absolute;
  
  background-color: gray;
  user-select: none;
}

.cir:active{
  background-color: black;
}



#c1{
  top: 0.5em;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  text-align: center;
}

#c2{
  top: 0;
  right: 0.5em;
  bottom: 0;
  margin: auto;
  position: absolute;
}

#c3{
  bottom: 0.5em;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

#c4{
  top: 0;
  bottom: 0;
  left: 0.5em;
  margin: auto;
  position: absolute;
}

#tri{
  
  width: 0;
  height: 0;
  border-left: 0.9em solid transparent;
  border-right: 0.9em solid transparent;
  border-bottom: 2em solid green;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  
  
}


#qua{
  width: 0;
  height: 0;
  border: 0.9em solid pink;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  
}

#circ{
  width: 2em;
  height: 2em;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#x{
  
  color: blue;
  font-weight: bolder;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0.3em;
  font-size: 2.5em;
  
}

}